.c1{
    background: url(../assets/img/que-es.jpg);
}
.c2{
    background: url(../assets/img/historia.jpg);
}
.c3{
    background: url(../assets/img/genero.jpg);
}
.c4{
    background: url(../assets/img/galeria.jpg);
}
.c5{
    background: url(../assets/img/videos.jpg);
}