@mixin paginas{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: 'Arimo', sans-serif;
    background-attachment: fixed;
}
@mixin flex{
    display: flex;
    flex-flow: row wrap;
}