.pagina {
    background: url(https://images.unsplash.com/photo-1516450137517-162bfbeb8dba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    
    @include paginas;

}

.pagina-2 {
    background: url(https://img.freepik.com/free-vector/musical-background-vector_23-2147498345.jpg?1&w=740&t=st=1691639372~exp=1691639972~hmac=0ab57265f9a4d5b5258c01d0c2a99c5a219ac88020204ce85939827cc0b367a3);
    background-repeat: no-repeat;
    @include paginas;
}

.pagina-3 {
    background: url(../assets/img/fondoquees.avif);
    @include paginas;

}

.pagina-4 {
    background: url(https://images.unsplash.com/photo-1542407424724-5426773d65a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    @include paginas;
}

.pagina-5 {
    background: url(https://images.unsplash.com/photo-1581095146373-cd331553812f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80);
    @include paginas;
padding: auto;
}

.pagina-6 {
    background: url(https://images.unsplash.com/photo-1572040917409-60ca0cfcc2df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    @include paginas;

}