@media(max-width: 593px) {
    
    .caja-conteiner{        
        width: 500px;
        height: 900px;
        margin-left: 30px;
         
        }
        .caja-guitarra {            
            
            width: 500px;
            height: 300px;
            margin-left: 30px;
        }
        figcaption{
            font-size: 20px;
            margin-left: 30px;
        }
        
        .videohistoria {
            
            width: 500px;
            height: 300px;
            margin-left: 30px;            
        }









    }