@media(max-width: 820px){
    .caja-conteiner{        
        
        margin-left: 20px;
         
        }
        .caja-guitarra {            
            
            
            margin-left: 20px;
        }
        figcaption{
            
            margin-left: 20px;
        }
        
        .videohistoria {
            
            margin-left: 20px;            
        }

}