@media (max-width: 660px){
    .neon{
        font-size: 36px;
    }
    .neon1{
        font-size: 50px;
    }
    .conteiner404{
        margin-left: 140px;
       width:370px;
       height: 400px;
        
    }
}