@media(max-width: 375px){
    header{
        display: flex;   
        min-height: 100px;
	    width: 100%;
    }
    .conteiner404{
        margin-top: 200px;
        margin-left: 15px;
       height: 320px;
       width: 320px;
        
    }
    .neon{
        font-size: 28px;
    }





















    
}