@media (max-width: 1440px){
    .boton1{
        margin-top: 200px;
    }
    footer{
        margin-top: 200px;
    }
    
.conteiner404{
    margin-top: 300px;
    width: 900px;
    height: 500px;
    .neon{
        margin-top: 100px;
    }
    
}























    
}