@media(max-width: 355px){
    figcaption{
        font-size: 12px;
        margin-left: 10px;
    }
    .caja-conteiner{        
        width: 250px;
        height: 1300px;
        margin-left: 20px;
         
        }
        .caja-guitarra {            
            
            width: 250px;
            height: 250px;
            margin-left: 20px;
        }
        .videohistoria {
            
            width: 250px;
            height: 250px;
            margin-left: 20px;            
        }
.textoo{
    font-size: 16px;
}








    }