@media(max-width: 448px){
    figcaption{
        font-size: 16px;
        margin-left: 25px;
    }
    .caja-conteiner{        
        width: 370px;
        height: 1050px;
        margin-left: 30px;
         
        }
        .caja-guitarra {            
            
            width: 370px;
            height: 300px;
            margin-left: 30px;
        }
        .videohistoria {
            
            width: 370px;
            height: 300px;
            margin-left: 30px;            
        }
        .conteiner404{
            margin-left: 40px;
           
            
        }








    }