
@media(max-width: 1331px){

    .caja-conteiner{        
        width: 550px;
        height: 1000px;
        margin-left: 50px;
        margin-top: 40px ;   
        }
        .caja-guitarra {            
            margin-top: 100px;
            width: 550px;
            height: 300px;
            margin-left: 50px;
        }
        figcaption{
            font-size: 14px;
            margin-left: 45px;
        }
        
        .videohistoria {
            margin-top: 100px;
            width: 550px;
            height: 300px;
            margin-left: 50px;            
        }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    }