@media(max-width: 768px){
           p{
            margin-top: 50px;
        }

        .caja-conteiner1{        
            width: 450px;
            height: 900px;
            margin-left: 15px;
            margin-top: 40px ;   
            }
            .caja-guitarra {            
                margin-top: 40px;
                width: 450px;
                height: 300px;
                margin-left: 15px;
            }















        
    }
