@media(max-width: 680px) {
    .p4 {
        font-size: 48px;
    }
    .caja-conteiner{        
        width: 600px;
        height: 900px;
        margin-left: 20px;
         
        }
        .caja-guitarra {            
            
            width: 600px;
            height: 300px;
            margin-left: 20px;
        }
        figcaption{
            font-size: 24px;
            margin-left: 20px;
        }
        
        .videohistoria {
            
            width: 600px;
            height: 300px;
            margin-left: 20px;            
        }









    }