@media (max-width: 345px){
    .conteiner404{
        margin-top: 200px;
        margin-left: 15px;
       height: 300px;
       width: 300px;
        
    }
    .neon{
        font-size: 20px;
    }
    .neon1{
        font-size: 24px;

    }
}