@media(max-width: 942px){
    .caja-conteiner{        
        width: 380px;
        height: 1000px;
        margin-left: 35px;
        margin-top: 40px ;   
        }
        .caja-guitarra {            
            margin-top: 100px;
            width: 380px;
            height: 300px;
            margin-left: 35px;
        }
        figcaption{
            font-size: 14px;
            margin-left: 35px;
        }
        
        .videohistoria {
            margin-top: 100px;
            width: 380px;
            height: 300px;
            margin-left: 35px;            
        }
    
        .conteiner404{
            margin-left: 250px;
            width: 500px;
            height: 500px;
            
        }
    
    
    }