@media(max-width: 694px){
    .caja-conteiner{        
        
        margin-left: 15px;
         
        }
        .caja-guitarra {            
            
            
            margin-left: 15px;
        }
        figcaption{
            
            margin-left: 15px;
        }
        
        .videohistoria {
            
            margin-left: 15px;            
        }

}