@media(max-width: 912px){
    .hh1{
        margin-top: 50px;
        font-size: 110px;
    }
    footer{
        margin-top: 350px;
    }
    .pie{
        font-size: 24px;
    }
    .caja-conteiner{
        
        width: 450px;
        height: 900px;
        margin-left: 20px;
        margin-top: 40px ;
      
        
            
    
        }
        .caja-guitarra {
            
            width: 400px;
            height: 350px;
            margin-top: 100px;
            
        }
        
        .videohistoria {
            margin-top: 30px;
            width: 400px;
            height: 300px;
            
        }


















    
}