@media(max-width: 642px) {
    
    .caja-conteiner{        
        width: 500px;
        height: 900px;
        margin-left: 25px;
         
        }
        .caja-guitarra {            
            
            width: 500px;
            height: 300px;
            margin-left: 25px;
        }
        figcaption{
            font-size: 24px;
            margin-left: 25px;
        }
        
        .videohistoria {
            
            width: 500px;
            height: 300px;
            margin-left: 25px;            
        }
        .caja-conteiner1{        
            width: 550px;
            height: 700px;
            margin-left: 20px;
             
            }
.p4{
    font-size: 38px;
}








    }