@media(max-width: 512px){
    .logo{
        margin-top: 60px;
    }
    .p6{
        margin-top: 9%;
    }
    .pp{
        margin-top: 100px;
    }
    .hh1{
        font-size: 52px;
    }
    .caja-conteiner{        
        width: 450px;
        height: 900px;
        margin-left:35px;
        margin-top: 40px ;   
        }
        .caja-guitarra {            
            margin-top: 40px;
            width: 450px;
            height: 300px;
            margin-left: 35px;
        }
        figcaption{
            font-size: 17px;
            margin-left: 15px;
        }
        
        .videohistoria {
            margin-top: 40px;
            width: 450px;
            height: 300px;
            margin-left: 35px;            
        }
 
}
