@media(max-width: 1060px){
    
    .caja-conteiner{        
        width: 400px;
        height: 1000px;
        margin-left: 45px;
        margin-top: 40px ;   
        }
        .caja-guitarra {            
            width: 450px;
            margin-left: 25px;
        }
        figcaption{
            font-size: 14px;
            margin-left: 25px;
        }
        
        .videohistoria {
            width: 450px;
            margin-left: 25px;            
        }
    }