@media(max-width: 820px) {
    .p4 {
        font-size: 48px;
    }
    .caja-conteiner{        
        width: 700px;
        height: 900px;
        margin-left: 30px;
         
        }
        .caja-guitarra {            
            
            width: 700px;
            height: 300px;
            margin-left: 30px;
        }
        figcaption{
            font-size: 24px;
            margin-left: 25px;
        }
        
        .videohistoria {
            
            width: 700px;
            height: 300px;
            margin-left: 30px;            
        }


        .conteiner404{
            margin-left: 130px;
            width: 500px;
            height: 500px;
            
        }


















}