@media(max-width: 320px) {
    .pp{
        margin-top: 50px;
    }
    

    .hh1 {
        margin-top: 150px;
        font-size: 36px;
    }

    .p2 {
        -webkit-text-stroke: 0.5px rgb(153, 37, 220);
        font-size: 36px;
        margin-top: 100px;
    }

    .carta {
        text-align: center;
    }
    
    .list {
        
        font-size: 16px;
    }
}

.p4 {
    font-size: 40px;
    margin-top: 50px;
}

.li2{
    justify-content: flex-start;
}