@media(max-width: 475px){
    .caja-conteiner{        
        height: 1000px;
        margin-left: 25px;
         
        }
        .caja-guitarra {            
            
            
            margin-left: 25px;
        }
        figcaption{
              font-size: 16px;
        }
        
        .videohistoria {
            
            margin-left: 25px;            
        }


}