@media (max-width: 1000px ){
    .caja-conteiner1{
        width: 370px;
    height: 1000px;
    }
    .caja-guitarra{
        margin-top: 100px;
        width: 400;
    }
    .fig{
        font-size: 20px;
    }
}
