@media(max-width: 425px){
    header{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;    
    }
    .logo{
        margin-top: 50px;
        display: flex;    
        height: 50px;        
        align-items: end;
    }  
    .hh1{
        margin-top: 150px;
        font-size: 50px;
        -webkit-text-stroke: 0px violet;
    }
    .hh2{
        margin-top: 150px;
        font-size: 20px;
    }
    .boton1{
        margin-top: 500px;
    }
    .socials{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pp{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pie{
        margin-bottom: 10px;
    }
    .caja-conteiner{
        margin-top: 10px;
    }
    .p2{
        font-size: 36px;
    }
    .pp2{
        font-size: 28px;
    }
    .p4{
         font-size:40px ;
        }
    .list{
        font-size: 20px;
    }
    .caja-generos{  
        margin-left: 15px;
        margin-right: 15px;
        width: 1100px;
        height: 1100px; 
    }
    .lista{
        text-align: start;
    }
    .caja-gral{
        grid-template-columns: auto;
    }
    figcaption{
        font-size: 16px;
        margin-left: 25px;
    }
    .caja-conteiner{        
        width: 330px;
        height: 1100px;
        margin-left: 45px;
         
        }
        .caja-guitarra {            
            
            width: 330px;
            height: 300px;
            margin-left: 45px;
        }
        .videohistoria {
            
            width: 330px;
            height: 300px;
            margin-left: 45px;            
        }
        .caja-conteiner1{        
            width: 350px;
            height: 1100px;
            margin-left: 35px;
            margin-top: 40px ;   
            }
            .conteiner404{
                margin-top: 200px;
                margin-left: 30px;
               height: 350px;
               width: 350px;
                
            }
            .neon{
                font-size: 28px;
            }















    
}
